.text-alternative{
    padding: .5rem 1.5rem;
}
.content-cart{
    background-color: #171a19;
    border-radius: 5px;
    color: #fff;
    transition: 200ms linear;
    display: flex;
    flex-direction: column;
}

.cart-cont{
    max-height: 250px;
    overflow-y: scroll;
}
@media screen and (max-height:360px) {
    .cart-cont{
        max-height: 120px;
    }
}
.cart-cont::-webkit-scrollbar{
    display: none;
    width: 7px;
}
.cart-cont::-webkit-scrollbar-thumb{
    background-color: #181a19ea;
    border-radius: 4px;
}
.cart-title{
    text-align: center;
    padding: 2rem 0;
}
.cart-item{
    max-width: 300px;
    min-width: 225px;
    background-color: #1d2422;
    border-radius: 3px;
    padding: .5rem;
    margin: .8rem;
    cursor: pointer;
    position: relative;
}
.info-title{
    font-size: .9rem;
    margin-right: 1.5rem;
}
.info-numbers{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-btn-trash{
    background: #b65353;
    font-size: .9rem;
    padding: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
}
.cart-btn{
    width: fit-content;
    align-self: flex-end;
    background-color: #367772;
    color: #fff;
    margin: 1rem;
    padding: .5rem 2rem;
}